h1{
    font-size: 52px;
    color: rgb(184, 109, 255);
   text-align: center;
}
p{
    font-size: 32px;
    color: rgb(59, 19, 96);
   text-align: center;
}
h2{
    font-size: 42px;
    color: rgb(199, 140, 255);
   text-align: center;
}